In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
ch = pd.read_csv('Churn.csv')
ch

,Customer ID,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,7590-VHVEA,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7039,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7040,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7041,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7042,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7043,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [3]:
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer ID        7044 non-null   object
 1   Gender             7044 non-null   object
 2   Senior Citizen     7044 non-null   int64
 3   Partner            7044 non-null   object
 4   Dependents         7044 non-null   object
 5   tenure             7044 non-null   int64
 6   Phone Service      7044 non-null   object
 7   Multiple Lines     7044 non-null   object
 8   Internet Service   7044 non-null   object
 9   Online Security    7044 non-null   object
 10  Online Backup      7044 non-null   object
 11  Device Protection  7044 non-null   object
 12  Tech Support       7044 non-null   object
 13  Streaming TV       7044 non-null   object
 14  Streaming Movies   7044 non-null   object
 15  Contract           7044 non-null   object
 16  Paperless Billing  7044 non-null   object
 17  Payment Method     7044 non-null   object
 18  Monthly Charges    7044 non-null   float64
 19  Total Charges      7044 non-null   object
 20  Churn              7044 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [4]:
# shortcut to convert string data to numeric [that is actually numeric but displaying as object]
# (only possible when there is no null value)

ch['Total Charges'] = pd.to_numeric(ch['Total Charges'], errors = 'coerce')
ch['Total Charges'] = ch['Total Charges'].astype(float)
print(ch['Total Charges'].dtype)

float64

In [5]:
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer ID        7044 non-null   object
 1   Gender             7044 non-null   object
 2   Senior Citizen     7044 non-null   int64
 3   Partner            7044 non-null   object
 4   Dependents         7044 non-null   object
 5   tenure             7044 non-null   int64
 6   Phone Service      7044 non-null   object
 7   Multiple Lines     7044 non-null   object
 8   Internet Service   7044 non-null   object
 9   Online Security    7044 non-null   object
 10  Online Backup      7044 non-null   object
 11  Device Protection  7044 non-null   object
 12  Tech Support       7044 non-null   object
 13  Streaming TV       7044 non-null   object
 14  Streaming Movies   7044 non-null   object
 15  Contract           7044 non-null   object
 16  Paperless Billing  7044 non-null   object
 17  Payment Method     7044 non-null   object
 18  Monthly Charges    7044 non-null   float64
 19  Total Charges      7033 non-null   float64
 20  Churn              7044 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [6]:
ch.drop(['Customer ID'], inplace = True, axis=1)

In [7]:
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             7044 non-null   object
 1   Senior Citizen     7044 non-null   int64
 2   Partner            7044 non-null   object
 3   Dependents         7044 non-null   object
 4   tenure             7044 non-null   int64
 5   Phone Service      7044 non-null   object
 6   Multiple Lines     7044 non-null   object
 7   Internet Service   7044 non-null   object
 8   Online Security    7044 non-null   object
 9   Online Backup      7044 non-null   object
 10  Device Protection  7044 non-null   object
 11  Tech Support       7044 non-null   object
 12  Streaming TV       7044 non-null   object
 13  Streaming Movies   7044 non-null   object
 14  Contract           7044 non-null   object
 15  Paperless Billing  7044 non-null   object
 16  Payment Method     7044 non-null   object
 17  Monthly Charges    7044 non-null   float64
 18  Total Charges      7033 non-null   float64
 19  Churn              7044 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [8]:
ch.drop(['Partner'],inplace = True, axis=1)

In [9]:
ch.drop(['Dependents'],inplace = True, axis=1)

In [10]:
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             7044 non-null   object
 1   Senior Citizen     7044 non-null   int64
 2   tenure             7044 non-null   int64
 3   Phone Service      7044 non-null   object
 4   Multiple Lines     7044 non-null   object
 5   Internet Service   7044 non-null   object
 6   Online Security    7044 non-null   object
 7   Online Backup      7044 non-null   object
 8   Device Protection  7044 non-null   object
 9   Tech Support       7044 non-null   object
 10  Streaming TV       7044 non-null   object
 11  Streaming Movies   7044 non-null   object
 12  Contract           7044 non-null   object
 13  Paperless Billing  7044 non-null   object
 14  Payment Method     7044 non-null   object
 15  Monthly Charges    7044 non-null   float64
 16  Total Charges      7033 non-null   float64
 17  Churn              7044 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 990.7+ KB

In [11]:
# tenure
# multiple lines
# internet service
# online backup
# device protection
# total charges
# monthly charges
# contract
# payment method
# tech support
# churn

In [12]:
ch.drop(['Paperless Billing'], inplace = True, axis=1)

In [13]:
ch.drop(['Streaming Movies'], inplace = True, axis=1)

In [14]:
ch.drop(['Streaming TV'], inplace = True, axis=1)

In [15]:
ch.drop(['Online Security'], inplace = True, axis=1)

In [16]:
ch.drop(['Phone Service'], inplace = True, axis=1)

In [17]:
ch.drop(['Senior Citizen'], inplace = True, axis=1)

In [18]:
ch.drop(['Gender'], inplace = True, axis=1)

In [19]:
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tenure             7044 non-null   int64
 1   Multiple Lines     7044 non-null   object
 2   Internet Service   7044 non-null   object
 3   Online Backup      7044 non-null   object
 4   Device Protection  7044 non-null   object
 5   Tech Support       7044 non-null   object
 6   Contract           7044 non-null   object
 7   Payment Method     7044 non-null   object
 8   Monthly Charges    7044 non-null   float64
 9   Total Charges      7033 non-null   float64
 10  Churn              7044 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 605.5+ KB

In [20]:
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tenure             7044 non-null   int64
 1   Multiple Lines     7044 non-null   object
 2   Internet Service   7044 non-null   object
 3   Online Backup      7044 non-null   object
 4   Device Protection  7044 non-null   object
 5   Tech Support       7044 non-null   object
 6   Contract           7044 non-null   object
 7   Payment Method     7044 non-null   object
 8   Monthly Charges    7044 non-null   float64
 9   Total Charges      7033 non-null   float64
 10  Churn              7044 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 605.5+ KB

In [21]:
# drop more that one column
# ch.drop(['cl','cl','cl'...],inplace = True, axis=1)

In [22]:
from sklearn.preprocessing import LabelEncoder
labelEncoder = LabelEncoder()

In [23]:
ch['Multiple_lines'] = labelEncoder.fit_transform(ch['Multiple Lines'])
ch['Internet_service'] = labelEncoder.fit_transform(ch['Internet Service'])
ch['online_backup'] = labelEncoder.fit_transform(ch['Online Backup'])
ch['device_protection'] = labelEncoder.fit_transform(ch['Device Protection'])
ch['tech_support'] = labelEncoder.fit_transform(ch['Tech Support'])
ch['contract_encoder'] = labelEncoder.fit_transform(ch['Contract'])
ch['payment_method'] = labelEncoder.fit_transform(ch['Payment Method'])

In [24]:
ch

,tenure,Multiple Lines,Internet Service,Online Backup,Device Protection,Tech Support,Contract,Payment Method,Monthly Charges,Total Charges,Churn,Multiple_lines,Internet_service,online_backup,device_protection,tech_support,contract_encoder,payment_method
0,1,No phone service,DSL,Yes,No,No,Month-to-month,Electronic check,29.85,29.85,No,1,0,2,0,0,0,2
1,1,No phone service,DSL,Yes,No,No,Month-to-month,Electronic check,29.85,29.85,No,1,0,2,0,0,0,2
2,34,No,DSL,No,Yes,No,One year,Mailed check,56.95,1889.50,No,0,0,0,2,0,1,3
3,2,No,DSL,Yes,No,No,Month-to-month,Mailed check,53.85,108.15,Yes,0,0,2,0,0,0,3
4,45,No phone service,DSL,No,Yes,Yes,One year,Bank transfer (automatic),42.30,1840.75,No,1,0,0,2,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7039,24,Yes,DSL,No,Yes,Yes,One year,Mailed check,84.80,1990.50,No,2,0,0,2,2,1,3
7040,72,Yes,Fiber optic,Yes,Yes,No,One year,Credit card (automatic),103.20,7362.90,No,2,1,2,2,0,1,1
7041,11,No phone service,DSL,No,No,No,Month-to-month,Electronic check,29.60,346.45,No,1,0,0,0,0,0,2
7042,4,Yes,Fiber optic,No,No,No,Month-to-month,Mailed check,74.40,306.60,Yes,2,1,0,0,0,0,3
7043,66,No,Fiber optic,No,Yes,Yes,Two year,Bank transfer (automatic),105.65,6844.50,No,0,1,0,2,2,2,0

In [25]:
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tenure             7044 non-null   int64
 1   Multiple Lines     7044 non-null   object
 2   Internet Service   7044 non-null   object
 3   Online Backup      7044 non-null   object
 4   Device Protection  7044 non-null   object
 5   Tech Support       7044 non-null   object
 6   Contract           7044 non-null   object
 7   Payment Method     7044 non-null   object
 8   Monthly Charges    7044 non-null   float64
 9   Total Charges      7033 non-null   float64
 10  Churn              7044 non-null   object
 11  Multiple_lines     7044 non-null   int32
 12  Internet_service   7044 non-null   int32
 13  online_backup      7044 non-null   int32
 14  device_protection  7044 non-null   int32
 15  tech_support       7044 non-null   int32
 16  contract_encoder   7044 non-null   int32
 17  payment_method     7044 non-null   int32
dtypes: float64(2), int32(7), int64(1), object(8)
memory usage: 798.1+ KB

In [26]:
churn_mapping = {'Yes':1,'No':0}
ch['churned_mapped'] = ch['Churn'].map(churn_mapping)
ch

,tenure,Multiple Lines,Internet Service,Online Backup,Device Protection,Tech Support,Contract,Payment Method,Monthly Charges,Total Charges,Churn,Multiple_lines,Internet_service,online_backup,device_protection,tech_support,contract_encoder,payment_method,churned_mapped
0,1,No phone service,DSL,Yes,No,No,Month-to-month,Electronic check,29.85,29.85,No,1,0,2,0,0,0,2,0
1,1,No phone service,DSL,Yes,No,No,Month-to-month,Electronic check,29.85,29.85,No,1,0,2,0,0,0,2,0
2,34,No,DSL,No,Yes,No,One year,Mailed check,56.95,1889.50,No,0,0,0,2,0,1,3,0
3,2,No,DSL,Yes,No,No,Month-to-month,Mailed check,53.85,108.15,Yes,0,0,2,0,0,0,3,1
4,45,No phone service,DSL,No,Yes,Yes,One year,Bank transfer (automatic),42.30,1840.75,No,1,0,0,2,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7039,24,Yes,DSL,No,Yes,Yes,One year,Mailed check,84.80,1990.50,No,2,0,0,2,2,1,3,0
7040,72,Yes,Fiber optic,Yes,Yes,No,One year,Credit card (automatic),103.20,7362.90,No,2,1,2,2,0,1,1,0
7041,11,No phone service,DSL,No,No,No,Month-to-month,Electronic check,29.60,346.45,No,1,0,0,0,0,0,2,0
7042,4,Yes,Fiber optic,No,No,No,Month-to-month,Mailed check,74.40,306.60,Yes,2,1,0,0,0,0,3,1
7043,66,No,Fiber optic,No,Yes,Yes,Two year,Bank transfer (automatic),105.65,6844.50,No,0,1,0,2,2,2,0,0

In [27]:
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tenure             7044 non-null   int64
 1   Multiple Lines     7044 non-null   object
 2   Internet Service   7044 non-null   object
 3   Online Backup      7044 non-null   object
 4   Device Protection  7044 non-null   object
 5   Tech Support       7044 non-null   object
 6   Contract           7044 non-null   object
 7   Payment Method     7044 non-null   object
 8   Monthly Charges    7044 non-null   float64
 9   Total Charges      7033 non-null   float64
 10  Churn              7044 non-null   object
 11  Multiple_lines     7044 non-null   int32
 12  Internet_service   7044 non-null   int32
 13  online_backup      7044 non-null   int32
 14  device_protection  7044 non-null   int32
 15  tech_support       7044 non-null   int32
 16  contract_encoder   7044 non-null   int32
 17  payment_method     7044 non-null   int32
 18  churned_mapped     7044 non-null   int64
dtypes: float64(2), int32(7), int64(2), object(8)
memory usage: 853.1+ KB

In [28]:
ch.drop(['Multiple Lines','Internet Service','Online Backup','Device Protection','Tech Support','Contract','Payment Method','Churn'],inplace = True, axis=1)

In [29]:
# x is independent
x = ch.drop(['churned_mapped'], axis=1)

In [30]:
y = ch['churned_mapped']

In [31]:
print(x)

      tenure  Monthly Charges  Total Charges  Multiple_lines  \
0          1            29.85          29.85               1
1          1            29.85          29.85               1
2         34            56.95        1889.50               0
3          2            53.85         108.15               0
4         45            42.30        1840.75               1
...      ...              ...            ...             ...
7039      24            84.80        1990.50               2
7040      72           103.20        7362.90               2
7041      11            29.60         346.45               1
7042       4            74.40         306.60               2
7043      66           105.65        6844.50               0

      Internet_service  online_backup  device_protection  tech_support  \
0                    0              2                  0             0
1                    0              2                  0             0
2                    0              0                  2             0
3                    0              2                  0             0
4                    0              0                  2             2
...                ...            ...                ...           ...
7039                 0              0                  2             2
7040                 1              2                  2             0
7041                 0              0                  0             0
7042                 1              0                  0             0
7043                 1              0                  2             2

      contract_encoder  payment_method
0                    0               2
1                    0               2
2                    1               3
3                    0               3
4                    1               0
...                ...             ...
7039                 1               3
7040                 1               1
7041                 0               2
7042                 0               3
7043                 2               0

[7044 rows x 10 columns]

In [32]:
print(y)

0       0
1       0
2       0
3       1
4       0
       ..
7039    0
7040    0
7041    0
7042    1
7043    0
Name: churned_mapped, Length: 7044, dtype: int64

In [33]:
x

,tenure,Monthly Charges,Total Charges,Multiple_lines,Internet_service,online_backup,device_protection,tech_support,contract_encoder,payment_method
0,1,29.85,29.85,1,0,2,0,0,0,2
1,1,29.85,29.85,1,0,2,0,0,0,2
2,34,56.95,1889.50,0,0,0,2,0,1,3
3,2,53.85,108.15,0,0,2,0,0,0,3
4,45,42.30,1840.75,1,0,0,2,2,1,0
...,...,...,...,...,...,...,...,...,...,...
7039,24,84.80,1990.50,2,0,0,2,2,1,3
7040,72,103.20,7362.90,2,1,2,2,0,1,1
7041,11,29.60,346.45,1,0,0,0,0,0,2
7042,4,74.40,306.60,2,1,0,0,0,0,3
7043,66,105.65,6844.50,0,1,0,2,2,2,0

In [34]:
y

0       0
1       0
2       0
3       1
4       0
       ..
7039    0
7040    0
7041    0
7042    1
7043    0
Name: churned_mapped, Length: 7044, dtype: int64

In [35]:
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tenure             7044 non-null   int64
 1   Monthly Charges    7044 non-null   float64
 2   Total Charges      7033 non-null   float64
 3   Multiple_lines     7044 non-null   int32
 4   Internet_service   7044 non-null   int32
 5   online_backup      7044 non-null   int32
 6   device_protection  7044 non-null   int32
 7   tech_support       7044 non-null   int32
 8   contract_encoder   7044 non-null   int32
 9   payment_method     7044 non-null   int32
 10  churned_mapped     7044 non-null   int64
dtypes: float64(2), int32(7), int64(2)
memory usage: 412.9 KB

In [36]:
x['Total Charges'].fillna(x['Total Charges'].mean(),inplace=True)

In [37]:
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tenure             7044 non-null   int64
 1   Monthly Charges    7044 non-null   float64
 2   Total Charges      7033 non-null   float64
 3   Multiple_lines     7044 non-null   int32
 4   Internet_service   7044 non-null   int32
 5   online_backup      7044 non-null   int32
 6   device_protection  7044 non-null   int32
 7   tech_support       7044 non-null   int32
 8   contract_encoder   7044 non-null   int32
 9   payment_method     7044 non-null   int32
 10  churned_mapped     7044 non-null   int64
dtypes: float64(2), int32(7), int64(2)
memory usage: 412.9 KB

In [38]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.25)

In [39]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression()

# model fitting
model.fit(x_train, y_train)    #training the model by 75% and fitting it to the model ('fit' keyword is used to train - 'fit' is a function)

# testing the model 
pred = model.predict(x_test)   #testing the model by 25% ('predict' keyword is used to test - 'predict' is a function)

# model accuracy
print(accuracy_score(y_test, pred))
print(pred)

0.7921635434412265
[0 0 1 ... 0 0 0]

In [40]:
y.value_counts()
# there is no balance so it causes overfitting and underfitting

churned_mapped
0    5175
1    1869
Name: count, dtype: int64

In [41]:
# 3 technique is used to balancing dataset:
# 1. under sampling (use pandas) -> work for majority class -> removing data after taking sampling - not good for large dataset
# 2. oversampling (use pandas) -> work for minority class -> automatically makes a small no. of values to more - not good for large dataset
# 3. iblearn (use sklearn)

In [42]:
count_class_0, count_class_1 = ch.churned_mapped.value_counts()
# in count_class_0 and count_class_1 only number of values are stored
print(count_class_0)

# divide by class
ch_class_0 = ch[ch['churned_mapped'] == 0]
ch_class_1 = ch[ch['churned_mapped'] == 1]

# but in ch_class_0 and ch_class_1 it stores the actual values

5175

In [43]:
ch_class_0.shape

(5175, 11)

In [44]:
ch_class_1.shape

(1869, 11)

In [45]:
# undersample 0-class and concat the DataFrame of both class
a = ch_class_0.sample(count_class_1)   # it will give number of samples based on count_class_1 and will store in 'a'

# axis=0 -> rows
# axis=1 -> column

ch_test_under = pd.concat([a, ch_class_1], axis=0)  # concating both the 'a' variable and class 1 as every data in the dataset is inbalanced
print('Random under-sampling:')
print(ch_test_under.churned_mapped.value_counts()) # checking 1 particyular column to cheack whether it is balanced or not

Random under-sampling:
churned_mapped
0    1869
1    1869
Name: count, dtype: int64

In [46]:
a

,tenure,Monthly Charges,Total Charges,Multiple_lines,Internet_service,online_backup,device_protection,tech_support,contract_encoder,payment_method,churned_mapped
4392,9,59.50,530.05,0,0,0,0,2,0,0,0
1143,11,75.20,775.30,2,1,0,0,0,0,1,0
594,30,84.30,2438.60,0,1,2,2,0,0,1,0
3180,27,19.60,561.15,0,2,1,1,1,2,3,0
2485,12,20.50,255.50,0,2,1,1,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...
1793,42,69.40,3058.30,2,0,2,0,0,0,0,0
5693,9,54.80,452.80,0,0,2,0,2,0,3,0
6541,34,64.35,2053.05,0,0,2,0,0,1,2,0
6670,35,99.05,3554.60,2,1,0,0,0,0,2,0
3204,72,88.05,6520.80,2,0,2,2,2,2,0,0

In [47]:
ch_test_under.value_counts()

tenure  Monthly Charges  Total Charges  Multiple_lines  Internet_service  online_backup  device_protection  tech_support  contract_encoder  payment_method  churned_mapped
1       69.60            69.60          0               1                 0              0                  0             0                 2               1                 4
        20.20            20.20          0               2                 1              1                  1             0                 3               1                 4
        69.65            69.65          0               1                 0              0                  0             0                 2               1                 4
        20.15            20.15          0               2                 1              1                  1             0                 3               1                 3
        19.90            19.90          0               2                 1              1                  1             0                 3               1                 3
                                                                                                                                                                             ..
10      79.25            793.55         0               1                 0              0                  0             0                 2               1                 1
        79.95            857.20         0               1                 0              0                  0             0                 2               1                 1
        80.05            830.70         2               1                 2              0                  0             0                 0               1                 1
        80.25            846.00         0               1                 0              0                  0             0                 0               1                 1
72      117.80           8684.80        2               1                 2              2                  2             1                 0               1                 1
Name: count, Length: 3670, dtype: int64

In [48]:
x = ch_test_under.drop(['churned_mapped'], axis=1)

In [49]:
y = ch_test_under['churned_mapped']

In [50]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.25)

In [51]:
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import accuracy_score

# model = LogisticRegression()

# # model fitting
# model.fit(x_train, y_train)    #training the model by 75% and fitting it to the model ('fit' keyword is used to train - 'fit' is a function)

# # testing the model 
# pred = model.predict(x_test)   #testing the model by 25% ('predict' keyword is used to test - 'predict' is a function)

# # model accuracy
# print(accuracy_score(y_test, pred))
# print(pred)

In [52]:
ch_test_under.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3738 entries, 4392 to 7042
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tenure             3738 non-null   int64
 1   Monthly Charges    3738 non-null   float64
 2   Total Charges      3733 non-null   float64
 3   Multiple_lines     3738 non-null   int32
 4   Internet_service   3738 non-null   int32
 5   online_backup      3738 non-null   int32
 6   device_protection  3738 non-null   int32
 7   tech_support       3738 non-null   int32
 8   contract_encoder   3738 non-null   int32
 9   payment_method     3738 non-null   int32
 10  churned_mapped     3738 non-null   int64
dtypes: float64(2), int32(7), int64(2)
memory usage: 248.2 KB

In [53]:
ch_test_under['Total Charges'].fillna(ch_test_under['Total Charges'].mean(),inplace=True)

In [54]:
x['Total Charges'].fillna(x['Total Charges'].mean(),inplace=True)

In [55]:
ch_test_under.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3738 entries, 4392 to 7042
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tenure             3738 non-null   int64
 1   Monthly Charges    3738 non-null   float64
 2   Total Charges      3738 non-null   float64
 3   Multiple_lines     3738 non-null   int32
 4   Internet_service   3738 non-null   int32
 5   online_backup      3738 non-null   int32
 6   device_protection  3738 non-null   int32
 7   tech_support       3738 non-null   int32
 8   contract_encoder   3738 non-null   int32
 9   payment_method     3738 non-null   int32
 10  churned_mapped     3738 non-null   int64
dtypes: float64(2), int32(7), int64(2)
memory usage: 248.2 KB

In [56]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.25)

In [57]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression()

# model fitting
model.fit(x_train, y_train)    #training the model by 75% and fitting it to the model ('fit' keyword is used to train - 'fit' is a function)

# testing the model 
pred = model.predict(x_test)   #testing the model by 25% ('predict' keyword is used to test - 'predict' is a function)

# model accuracy
print(accuracy_score(y_test, pred))
print(pred)

0.7614973262032085
[0 1 0 1 1 1 0 1 1 0 0 0 1 0 0 1 0 1 0 0 0 0 0 1 0 1 0 1 0 1 0 1 1 1 0 1 0
 0 1 1 0 0 0 0 0 1 1 1 0 1 0 1 1 0 0 0 1 1 0 0 1 0 1 1 0 1 1 0 0 1 0 1 0 1
 0 0 1 1 1 0 0 0 1 0 1 1 1 0 1 0 1 0 0 1 1 0 1 1 1 0 1 0 0 0 0 0 1 1 1 1 0
 0 1 1 0 1 1 1 1 0 0 1 1 1 1 0 1 0 0 0 1 1 0 1 1 1 0 1 0 0 1 1 1 0 1 0 0 1
 0 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 0 0 0 1 0 1 1 1 0 1 1 1 0 1 1 1 0 0 1 0 1
 1 0 1 1 1 0 0 0 1 1 0 1 1 1 0 0 1 1 1 0 0 1 0 0 0 1 0 0 1 1 0 1 0 0 1 0 1
 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 0 1 1 0 0 0 0 0 1 1 1 0
 0 0 1 0 1 1 1 0 1 0 1 1 1 1 1 1 1 0 0 0 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 1 0
 0 0 1 0 1 1 1 0 0 0 1 0 1 0 1 1 0 1 1 0 0 0 1 0 0 1 1 1 0 1 1 0 1 0 0 1 0
 0 1 1 0 0 0 1 1 0 1 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 1 1 0 1 1 1 0 0 1 0 0
 0 1 1 1 1 0 0 1 1 0 1 1 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1 0 1 0 0 0 1 0 0 1 0
 1 1 0 1 1 1 0 1 0 1 1 1 1 0 1 1 0 1 0 1 0 1 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0
 0 0 1 1 1 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 1 1 1 1 1 0 0 0 1 1 1 1 1 1 1 0
 1 1 1 0 0 1 0 0 0 1 0 0 0 1 1 1 0 0 1 0 1 1 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0
 1 1 0 0 1 0 0 1 0 0 0 1 0 1 0 1 0 0 1 0 0 1 1 1 0 1 0 1 1 1 0 1 1 1 1 1 0
 0 0 1 0 1 1 1 0 1 0 1 0 0 0 0 1 1 1 1 0 0 0 0 1 1 1 1 0 1 0 1 1 1 1 1 1 0
 1 1 0 1 1 0 1 1 1 0 1 1 1 0 0 0 1 1 1 1 0 1 0 0 0 0 1 0 1 1 1 1 1 1 0 1 1
 1 0 1 1 0 1 0 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 1 1 1 0 1 0 1 1 1 0 1 0 1 1 0
 0 1 1 1 1 0 0 1 1 1 1 0 0 1 1 1 1 1 0 1 1 1 1 0 0 1 1 1 1 1 0 0 0 0 1 0 1
 1 0 0 1 1 1 1 0 1 0 1 0 1 1 1 0 1 1 0 1 1 0 0 1 0 1 0 0 0 0 0 1 0 1 1 1 0
 0 1 0 0 0 1 0 1 1 0 1 1 1 0 1 0 1 1 0 0 0 1 0 0 0 1 0 1 1 1 1 0 1 0 0 1 1
 1 0 0 0 1 1 0 0 1 0 0 1 1 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 1 1 1 0 1 0 1 1 0
 0 0 0 1 0 0 1 0 1 0 0 1 1 1 1 0 1 0 1 1 1 1 1 1 0 1 0 1 0 1 0 1 0 0 0 1 1
 1 0 1 1 1 1 0 1 1 0 0 0 1 0 0 0 1 0 1 1 0 1 1 0 1 1 1 0 1 0 0 0 1 1 1 1 0
 1 1 0 0 0 1 1 1 0 0 1 1 1 1 1 1 0 0 0 0 0 1 1 1 1 1 1 0 1 0 0 0 0 1 0 1 0
 0 1 0 1 1 0 1 1 1 1]

In [58]:
# oversampling 1-class and concat the DataFrames of both classes
ch_class_1_over = ch_class_1.sample(count_class_0, replace = True)  # 'replace' -> when you require duplicates you can use 'replace'
ch_test_over = pd.concat([ch_class_0, ch_class_1_over], axis=0)

print('Random over-sampling:')
print(ch_test_over.churned_mapped.value_counts())

Random over-sampling:
churned_mapped
0    5175
1    5175
Name: count, dtype: int64

In [59]:
x = ch_test_over.drop(['churned_mapped'], axis=1)

In [60]:
y = ch_test_over['churned_mapped']

In [61]:
ch_test_over.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10350 entries, 0 to 6044
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tenure             10350 non-null  int64
 1   Monthly Charges    10350 non-null  float64
 2   Total Charges      10339 non-null  float64
 3   Multiple_lines     10350 non-null  int32
 4   Internet_service   10350 non-null  int32
 5   online_backup      10350 non-null  int32
 6   device_protection  10350 non-null  int32
 7   tech_support       10350 non-null  int32
 8   contract_encoder   10350 non-null  int32
 9   payment_method     10350 non-null  int32
 10  churned_mapped     10350 non-null  int64
dtypes: float64(2), int32(7), int64(2)
memory usage: 687.3 KB

In [62]:
ch_test_over['Total Charges'].fillna(ch_test_over['Total Charges'].mean(),inplace=True)

In [63]:
x['Total Charges'].fillna(x['Total Charges'].mean(),inplace=True)

In [64]:
ch_test_over.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10350 entries, 0 to 6044
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tenure             10350 non-null  int64
 1   Monthly Charges    10350 non-null  float64
 2   Total Charges      10350 non-null  float64
 3   Multiple_lines     10350 non-null  int32
 4   Internet_service   10350 non-null  int32
 5   online_backup      10350 non-null  int32
 6   device_protection  10350 non-null  int32
 7   tech_support       10350 non-null  int32
 8   contract_encoder   10350 non-null  int32
 9   payment_method     10350 non-null  int32
 10  churned_mapped     10350 non-null  int64
dtypes: float64(2), int32(7), int64(2)
memory usage: 687.3 KB

In [65]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.25)

In [66]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression()

# model fitting
model.fit(x_train, y_train)    #training the model by 75% and fitting it to the model ('fit' keyword is used to train - 'fit' is a function)

# testing the model 
pred = model.predict(x_test)   #testing the model by 25% ('predict' keyword is used to test - 'predict' is a function)

# model accuracy
print(accuracy_score(y_test, pred))
print(pred)

0.7380216383307573
[1 1 1 ... 0 1 0]

In [67]:
# pip install scikit-learn ==1.2.2

In [68]:
# pip install -u imbalanced-learn

In [69]:
# imblearn
# SMOTE - Synthetic Minority Oversampling Technique [making minority class to majority(similar to oversampling)] - work for minority
# first identify minority, then it will focus on it and automatically balance both class 
# like for eg if we have values like 1,2,3,4,5,etc then it will give values similarly like 3.1,3.2,etc
# no duplicates (disadvantages of oversampling)
# no data loss (disadvantages of undersampling)

from imblearn.over_sampling import SMOTE  

# initialize SMOTE with a sampling strategy (you can adjust it as needed)
smote = SMOTE(sampling_strategy='auto')

# apply SMOTE to resample the dataset
x_resampled, y_resampled = smote.fit_resample(x,y)
y_resampled.value_counts()

churned_mapped
0    5175
1    5175
Name: count, dtype: int64

In [70]:
y_resampled.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10350 entries, 0 to 10349
Series name: churned_mapped
Non-Null Count  Dtype
--------------  -----
10350 non-null  int64
dtypes: int64(1)
memory usage: 81.0 KB

In [71]:
x_resampled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10350 entries, 0 to 10349
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tenure             10350 non-null  int64
 1   Monthly Charges    10350 non-null  float64
 2   Total Charges      10350 non-null  float64
 3   Multiple_lines     10350 non-null  int32
 4   Internet_service   10350 non-null  int32
 5   online_backup      10350 non-null  int32
 6   device_protection  10350 non-null  int32
 7   tech_support       10350 non-null  int32
 8   contract_encoder   10350 non-null  int32
 9   payment_method     10350 non-null  int32
dtypes: float64(2), int32(7), int64(1)
memory usage: 525.7 KB

In [72]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10350 entries, 0 to 6044
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tenure             10350 non-null  int64
 1   Monthly Charges    10350 non-null  float64
 2   Total Charges      10350 non-null  float64
 3   Multiple_lines     10350 non-null  int32
 4   Internet_service   10350 non-null  int32
 5   online_backup      10350 non-null  int32
 6   device_protection  10350 non-null  int32
 7   tech_support       10350 non-null  int32
 8   contract_encoder   10350 non-null  int32
 9   payment_method     10350 non-null  int32
dtypes: float64(2), int32(7), int64(1)
memory usage: 606.4 KB

In [73]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_resampled,y_resampled, test_size = 0.25)

In [74]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression()

# model fitting
model.fit(x_train, y_train)    #training the model by 75% and fitting it to the model ('fit' keyword is used to train - 'fit' is a function)

# testing the model 
pred = model.predict(x_test)   #testing the model by 25% ('predict' keyword is used to test - 'predict' is a function)

# model accuracy
print(accuracy_score(y_test, pred))
print(pred)

0.7623647604327666
[1 1 1 ... 1 1 0]

In [75]:
# SVM

In [76]:
from sklearn.svm import SVC
import pickle

In [77]:
x_train, x_test, y_train, y_test = train_test_split(x_resampled,y_resampled, test_size = 0.25)

In [78]:
model2 = SVC() #using default RBF kernel

In [79]:
model2.fit(x_train, y_train)

SVC()

In [80]:
# make predictions on the test set
y_pred = model2.predict(x_test)

In [81]:
# evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Acuuracy : {accuracy:.2f}")

Acuuracy : 0.66

In [82]:
with open('churn_SVM.pkl','wb') as file:
    pickle.dump(model2, file)

In [83]:
# NAIVE BAYES

In [84]:
from sklearn.naive_bayes import GaussianNB

In [85]:
x_train, x_test, y_train, y_test = train_test_split(x_resampled,y_resampled, test_size = 0.25)

In [86]:
# training the modelon tarining set
model3 = GaussianNB()
model3.fit(x_train, y_train)

GaussianNB()

In [87]:
# making predictions on the testing set
y_pred = model3.predict(x_test)

In [88]:
# evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Acuuracy : {accuracy:.2f}")

Acuuracy : 0.76

In [89]:
with open('ch_NaiveBayes.pkl','wb') as file:
    pickle.dump(model3, file)

In [90]:
# DECISION TREE

In [91]:
from sklearn.tree import DecisionTreeClassifier

In [92]:
x_train, x_test, y_train, y_test = train_test_split(x_resampled,y_resampled, test_size = 0.25)

In [93]:
model4 = DecisionTreeClassifier()
model4.fit(x_train, y_train)

DecisionTreeClassifier()

In [94]:
y_pred = model4.predict(x_test)

In [95]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Acuuracy : {accuracy:.2f}")

Acuuracy : 0.87

In [96]:
with open('ch_Decision.Tree.pkl','wb') as file:
    pickle.dump(model4, file)

In [ ]:
# Random Forest

In [102]:
from sklearn.ensemble import RandomForestClassifier
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)
clf = RandomForestClassifier()
clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Acuuracy : {accuracy:.2f}")

Acuuracy : 0.89

In [103]:
with open("churn_rfc_model.pkl","wb") as f:
    pickle.dump(clf,f)

In [97]:
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tenure             7044 non-null   int64
 1   Monthly Charges    7044 non-null   float64
 2   Total Charges      7033 non-null   float64
 3   Multiple_lines     7044 non-null   int32
 4   Internet_service   7044 non-null   int32
 5   online_backup      7044 non-null   int32
 6   device_protection  7044 non-null   int32
 7   tech_support       7044 non-null   int32
 8   contract_encoder   7044 non-null   int32
 9   payment_method     7044 non-null   int32
 10  churned_mapped     7044 non-null   int64
dtypes: float64(2), int32(7), int64(2)
memory usage: 412.9 KB

In [98]:
def predict_churn():
    # collect user input
    tenure = float(input("Enter tenure (eg., 12):"))
    Monthly_Charges = float(input("Enter the monthly charges (eg., 80.0):"))
    Total_Charges = float(input("Enter total charges (eg., 950.0):"))
    Multiple_lines = int(input("Multiple Lines (1 for yes, 0 for no):"))
    Internet_service = int(input("Internet Service (1 for yes, 0 for no):"))
    online_backup = int(input("online backup (1 for yes, 0 for no):"))
    device_protection = int(input("decive protection (1 for yes, 0 for no):"))
    tech_support = int(input("Tech support (1 for yes, 0 for no):"))
    contract_encoder = int(input("Contract encoder (1 for yes, 0 for no):"))
    payment_method = int(input("Payment method (1 for yes, 0 for no):"))

    # inputs directly in the form expected in the model
    inputs = [
        tenure,
        Monthly_Charges,
        Total_Charges,
        Multiple_lines,
        Internet_service,
        online_backup,
        device_protection,
        tech_support,
        contract_encoder,
        payment_method
    ]
    
    # Make a prediction using the preprocessed input data
    prediction = model.predict([inputs])[0]

    # Return the result
    return "Churn" if prediction == 1 else "No Churn"

In [99]:
# call the function and print the result
result = predict_churn()
print("Prediction:", result)

Enter tenure (eg., 12): 12
Enter the monthly charges (eg., 80.0): 80.0
Enter total charges (eg., 950.0): 950.0
Multiple Lines (1 for yes, 0 for no): 0
Internet Service (1 for yes, 0 for no): 1
online backup (1 for yes, 0 for no): 1
decive protection (1 for yes, 0 for no): 0
Tech support (1 for yes, 0 for no): 0
Contract encoder (1 for yes, 0 for no): 1
Payment method (1 for yes, 0 for no): 1

Prediction: Churn